Wscliente/web/WEB-INF/wsdl/localhost_8000/conversor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://wsaula/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsaula/">

<xs:element name="dolarToReal" type="tns:dolarToReal"/>

<xs:element name="dolarToRealResponse" type="tns:dolarToRealResponse"/>

<xs:element name="euroToReal" type="tns:euroToReal"/>

<xs:element name="euroToRealResponse" type="tns:euroToRealResponse"/>

<xs:element name="pesoargentinoToReal" type="tns:pesoargentinoToReal"/>

<xs:element name="pesoargentinoToRealResponse" type="tns:pesoargentinoToRealResponse"/>

<xs:element name="realToDolar" type="tns:realToDolar"/>

<xs:element name="realToDolarResponse" type="tns:realToDolarResponse"/>

<xs:element name="realToEuro" type="tns:realToEuro"/>

<xs:element name="realToEuroResponse" type="tns:realToEuroResponse"/>

<xs:element name="realToPesoArgentino" type="tns:realToPesoArgentino"/>

<xs:element name="realToPesoArgentinoResponse" type="tns:realToPesoArgentinoResponse"/>

<xs:complexType name="euroToReal">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="euroToRealResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesoargentinoToReal">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesoargentinoToRealResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dolarToReal">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dolarToRealResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToPesoArgentino">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToPesoArgentinoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToEuro">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToEuroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToDolar">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realToDolarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>